h1 {
  font-family: Lobster, monospace;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  background-color: blueviolet;
  text-align: center;
}

button {
  font-family: Verdana, serif;
  font-size: 1em;
  color: white;
  background-image: -webkit-linear-gradient(top, grey, dimgrey);
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  margin: 10px auto 0px auto;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}